    <div class="grid">
        <p-toast key="tst"></p-toast>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Score</span>
                        <div class="text-900 font-medium text-xl">{{score}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium"></span>
                <span class="text-500"></span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Role</span>
                        <div class="text-900 font-medium text-xl">{{role}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium"></span>
                <span class="text-500"></span>
            </div>
        </div>


        <div *ngIf="isModerator()" class="col-12">
            <div class="card">
                <h5>List of user</h5>
                <p-table [value]="listOfUsers" rowGroupMode="subheader" groupRowsBy="representative.name" sortField="representative.name" sortMode="single" responsiveLayout="scroll" [scrollable]="true" scrollHeight="400px">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Score</th>
                            <th>Role</th>
                            <th>Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-user let-rowIndex="rowIndex">
                        <tr>
                            <td style="min-width: 200px;">
                                {{user._id}}
                            </td>
                            <td style="min-width: 200px;">
                                {{user.name}}
                            </td>
                            <td style="min-width: 200px;">
                                {{user.email}}
                            </td>
                            <td style="min-width: 200px;">
                                {{user.score}}
                            </td>
                            <td style="min-width: 200px;">
                                {{user.role}}
                            </td>
                            <td style="min-width: 200px;">
                                <button (click)="banUser(user)" pButton type="button" icon="pi pi-trash" class="p-button p-button-danger"></button> 
                            </td>                          
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>

</div>

